h1 {
  text-align: center;
  font-size: 50px;
  background-color: rgb(240, 205, 159);
  color: rgb(120, 120, 248);
  margin: 10px;
  padding: 50px;
}

#memory-Card {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;

  gap: 40px;
  cursor: pointer;
}
body {
  height: 100vh;
  background-color: rgb(149, 245, 245);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: all 0.5s;
  transform-style: preserve-3d;
}
.firstface,
.cover {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.box img {
  width: 100px;
  height: 100px;
}

.firstface {
  display: none;
}

/* .card.flip .card{
  transform: rotateY('180');
} */

.show {
  display: block;
  transform: rotateY("180deg");
}

.hide {
  display: none;
  transform: rotateY("180deg");
}

#link1 {
  color: rgb(177, 116, 234);
  font-size: 50px;
  font-style: italic;
  margin: 20px;
  padding: 150px;
}
#link2 {
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(21, 21, 21);
  padding: 30px;
  font-family: 'Poetsen One';
}

button {
  color: rgb(10, 11, 11);
  border: black solid;

  background-color: rgba(239, 157, 223, 0.879);
  font: size 30px;
  
  margin:40%;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  width: 200px;
  margin-top: 30px;
}
button:hover {
  background-color: blueviolet;
  border: 4px solid black;
  border-radius: 5px;
}
#greeting{
  font-family: 'Poetsen One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
#play{
  margin-left: 30%;
}

